extends ../includes/layout

block main-content
	.container#libApp
		header.header
			.ibar.row
			.logo.col-md-3
				h3 Share-A-book
					small .com
			.menubar.row
				ul.list-inline
					li.link Categories
					li.link Popular this week
					li.link How it work
		#content.content-body
			.filter-column.col-md-3
			.item-wrap.col-md-9
		footer.footer.row
			p.text-center &copy; ShareBook 2014