<div class="filter">
	<div class="filter-header"><h4>Categories</h4><span class="clear">-Clear</span></div>
	<ul>
		{{#each categories}}
		<li class="checkbox" data-value="{{this.label}}"><input type="checkbox" name="categories" /> <label>{{this.label}} (<span>{{this.count}}</span>)</label></li>
		{{/each}}
	</ul>
</div>