<div class="filter">
	<div class="filter-header"><h4>Categories</h4><span class="clear">-Clear</span></div>
	<ul>
		<li class="checkbox"><label><input type="checkbox" name="categories" /> Fiction (<span>03</span>)</label></li>
		<li class="checkbox"><label><input type="checkbox" name="categories" /> Horror (<span>07</span>)</label></li>
		<li class="checkbox"><label><input type="checkbox" name="categories" /> Bio (<span>02</span>)</label></li>
		<li class="checkbox"><label><input type="checkbox" name="categories" /> History (<span>10</span>)</label></li>
	</ul>
</div>